<div class="container nav">
    <div class="logo">
        <img src={{logoImage}} alt="Logo">
    </div>
    <div class="menu">
        <ul>

            <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home </a>
            </li>
            <li> <a routerLink="all-doctors" routerLinkActive="active-link">All Doctors </a></li>
            <li> <a routerLink="/about" routerLinkActive="active-link">About</a></li>
            <li> <a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
            <li> <a routerLink="/add-doctor">Admin Panel</a></li>
        </ul>
    </div>
    <div class="mt-2">
        <button *ngIf="!userName" routerLink="user-auth" class="btn btn-primary">Signup/Login</button>
        <div *ngIf="userName" class="col">
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
                    <img src="{{userImage}}" alt="Profile" width="35" height="35" class="rounded-circle" />
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                   <a routerink=""> <button ngbDropdownItem>My Profile ({{userName}})</button></a>
                    <button ngbDropdownItem>My Appointments</button>
                    <button ngbDropdownItem>Source Code</button>
                    <hr class="dropdown-divider">
                    <button (click)="logout()" ngbDropdownItem>Logout</button>
                </div>
            </div>
        </div>
    </div>

</div>