.footer{
    margin-top: 100px;
}
.footer-text{
    margin-top: 20px;
    font-size: 13px;
    color: gray;
    text-wrap: wrap;
    width: 400px;
}
ul{
    padding: 0px;
}
ul li {
    list-style: none;
    color: gray;
    font-size: 14px;
    line-height: 2;
}