<div class="doctor-form">
    <h2 class="doc-profile">Craete Dr Profile</h2>
    <form class="common-form" #updateDoctorForm="ngForm" (ngSubmit)="updatedoctor(updateDoctorForm.value)">
        <!-- <input type="file" id="fileInput" (change)="onFileSelected($event)" /> -->

        <input type="text" class="form-input" ngModel="{{doctorData?.name}}" placeholder="enter name" name="name">
        <select name="specialization" class="form-input" ngModel="{{doctorData?.specialization}}">
            <option value="">Specialization</option>
            <option value="General Physician">General Physician</option>
            <option value="Gynecologist">Gynecologist</option>
            <option value="Dermatologist">Dermatologist</option>
            <option value="Pediatricians">Pediatricians</option>
            <option value="Neurologist">Neurologist</option>
            <option value="Gastroenterologist">Gastroenterologist</option>
        </select>
        <select name="status" class="form-input" ngModel="{{doctorData?.status}}">
            <option value="">status</option>
            <option value="available">available</option>
            <option value="not available">not available</option>
        </select>
        <input type="text" name="fee" ngModel="{{doctorData?.fee}}" class="form-input" placeholder="enter fee">
        <textarea name="about" name="about" ngModel="{{doctorData?.about}}" class="form-input" placeholder="about"></textarea>
        <button class="form-button">Create</button>
    </form>
</div>